* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
   
}

body {
    background-color: #080808;
    /* color: white;  */


}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home {
    background-color: yellow;
    color: black;
}

ul li {
    margin: -222px;
    list-style: none;
    
}
.container{
    position: sticky;
}

li a {
    color: white;
    text-decoration: none;
    position: relative;
    font-size: 20px;
    /* text-decoration-style:dotted; */
}

/* a::after{
    content: '';
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
} */
a:hover {
    background-color: yellow;
    color: #080808;
}

.logo {
    width: 91px;
    height: 78px;
    padding: -41px;
    margin: 16px;
    position: relative;
    left: -250px;
}

#header {
    width: 100%;
    height: 100%;
    background-image: url(image/bgimg.JPG);
    background-size: cover;
    background-position: center;
   
}

/* .light-img{
display: inline-block;
width: 30%;
height: 30%;
justify-content: center;
float: right; */

.text-area {
    position: absolute;
    left: 145px;
    top: 250px;
    font-size: 25px;
    color: white;
}

span {
    color: yellow;
}


#about {
    display: flex;
    justify-content: space-between;
    padding: 13px;
    margin: 44px;
}

.left img {
    width: 333px;
    height: 430px;
    border-radius: 14px;
}

.right {
    color: white;
    position: relative;
    left: 60px
}
html{
    scroll-behavior: smooth;
}

.right h1 {
    margin: 12px;

}

p {
    color: rgb(136, 135, 132);
}

/* .s-e-e {
    padding: 10px;
    display: flex;

}

.text-class-active-link {
    color: rgb(17, 17, 18);
    margin: 0px 62px;
    cursor: pointer;
    background-color: rgb(210, 222, 222);
}

.s-e-e :hover {
    background-color: yellow;
    color: black;
    transition: 0.5s;
}

.content-s-e-e li {
    list-style: none;

}

.content-s-e-e {
    display: none;
}

.content-s-e-e.active-skill {
    display: block;
} */

/* to be continue */



/* now for service */
#myservice h1 {
    color: white;
    padding: 0px 100px;
    font-size: 45px;
    position: relative;
    top: 50px
}.service-text{
    margin: -5px 99px;
    color: white;
}


.box {
    display: flex;
    margin: 101px;
    justify-content: center;
    justify-content: space-between;
    padding: 0px 15px;
    /* background-color: #393838; */
   
}

.box-box1 {
    /* border: 4px solid white; */
    width: 300px;
    height: 300px;
    background-color: #393838;
    border-radius: 12px;
}
.box-box1:hover{
background-color: yellow;
color: black;
}
.box-box2:hover{
background-color: yellow;
color: black;
}
.box-box3:hover{
background-color: yellow;
color: black;
}

.box-box2 {
    width: 300px;
    height: 300px;
    background-color: #393838;
    border-radius: 12px;
    
    /* border: 4px solid white; */
}

.box-box3 {
    width: 300px;
    height: 300px;
    background-color: #393838;
    border-radius: 12px;
    /* border: 4px solid white; */
}

.box-text {
    color: white;
    padding: 72px;
}
.box-text:hover{
    color: black;
}

.box-text a {
   color: rgb(9, 9, 8);
   background-color: rgb(248, 244, 29);
}

.box-text a:hover {
    background-color:#ff004f;
}

#cont-left-right{
    width: 100vw;
    height: 85vh;
}
.cont-left{
    margin:78px 104px;;
}
.cont-left h1{
   margin:-29px -7px;
   color: white;
}
.cont-left p{
    color: white;
}
.social-icon a{
   /* color: red;
   width: 34px;
   height: 32px; */
   margin: 0px 12px;
   color: #ff004f;
   font-size: 34px;
}
.social-icon a:hover{
    /* background-color: rgb(249, 10, 209);
    color: red; */
    
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    width: 176px;
    height: 36px;
    border-radius: 12px;
    cursor: pointer;
}
.button:hover{
background-color: #ff004f;;
color: rgb(243, 238, 238);
}
#cont-left-right{
    display: flex;
    justify-content: space-between;
  
}
.cont-right{
    /* margin: 40px 150px; */
    position: relative;
    top: 60px;
    left: -100px;
 overflow: hidden;

}
.box-height{
    
    width: 506px;
    height: 38px;
    background-color: rgb(86, 85, 85);
    color: rgb(240, 183, 12);
    border-radius: 5px;
}

.cont-right textarea{
    background-color: rgb(86, 85, 85);
    border-radius: 7px;
    
}
.cont-right ::placeholder{
color: rgb(212, 204, 204);
}
.copyright{
    color: white;
    width: 100%;
    
    background-color:rgb(86, 85, 85);;
    text-align: center;
    justify-content: center;
    padding: 17px;;
}
.copyright i{
    color: red;
}
/*    --------for dubbing tab skills eduction... */
.tab-titels{
    display: flex;
    margin: 20px 0  40px;

}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500px;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content:'';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
    
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ol li {
    /* display: inline; */
    list-style: none;
    margin: 10px 0;
}
.tab-contents ol li span{
    font-size: 14px;
    color: #ff004f;}
.tab-contents{
    display: none;
}.tab-contents.active-tab{
    display: block;
}
.tab-links{
    background-color: rgb(219, 238, 3);
    color: black;
}
.tab-links:hover{
    background-color: white;
    color: ;
}